.heading {
	padding: 0 0 30px 0;
	h1 {
		font-size: 2.2rem;
		line-height: 3.1rem;
		font-weight: 900;
		color: $text-color;
		text-transform: uppercase;
		// text-align: center;
		letter-spacing: 2px;
		font-family: "Josefin Sans", sans-serif;
	}
}

.button {
	background: $primary-color;

	color: $text-rev;

	padding: 1rem 1.5rem;
	font-weight: 900;
	border: 1.5px solid $primary-color;
	border-radius: 0px;
	letter-spacing: 1px;
	text-transform: capitalize;

	&:hover {
		background: $text-color;
		color: $white;
		border: 1px solid $text-color;
		// box-shadow: 3px 0px 8px 2px $shad;
		box-shadow: rgba($text-color, 0.5) 0px 10px 10px -10px;
		// transform: scale(1.01);
		transition: 0.3s ease-in;
		z-index: 3;
	}
}
.hide {
	display: none;
	// transition: display 0.4s ease-out;
}
.red {
	color: $warning;
	margin-top: 10px;
}

.form-group {
	input,
	textarea {
		border-color: $primary-color;
	}
}

.equal {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.equal > [class*="col-"] {
	display: flex;
	flex-direction: column;
}

.bold {
	font-weight: 900;
}

.seo {
	width: 98%;
	margin: 0 auto;
	color: $text-rev;
	h4 {
		font-weight: 300;
		font-size: 0.5rem;
	}
}
a {
	color: $primary-color;
	&:hover {
		color: $text-color;
	}
}
