.hero {
	height: 100vh;
	background: linear-gradient(rgba($primary-color, 0.7)),
		url("../img/main-hero.jpg") no-repeat bottom;
	background-size: cover;
	background-attachment: fixed;
	background-blend-mode: multiply;
	// perspective: 2px;
	// overflow-y: auto;
	position: relative;
	padding: 10vh 0;
	color: $text-color;
	// clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 95%, 0% 100%);
	// clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

	.hero-text {
		// background: rgba($text-color, 0.4);
		padding: 10vh 0;
		position: relative;
		// border-radius: 0 10rem 10rem 0;
		// display: inline-block;

		// margin: 0 auto;
		.heading {
			// margin-top: 10vh;
			padding: 5vh 2vh 2vh 2vh;
			// background: rgba($background, 0.4);
			// clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
			border-radius: 5rem;
			h1 {
				color: $white;
				font-size: 2.6rem;
				font-weight: 900;
				text-align: left;
				letter-spacing: 2px;
			}
		}
		.sub-heading {
			// color: lighten($text-color, 70);
			// color: $card-back;
			color: $text-rev;
			padding: 1vh 2vh 5vh 2vh;
			h5 {
				font-size: 1.6rem;
				font-weight: 500;
				letter-spacing: 1px;
				font-family: "Josefin Sans", sans-serif;
			}
		}
		.hero-button {
			// margin-top: 5rem;
			padding: 2vh;
			.button {
				letter-spacing: 1px;
				background: $primary-color;
				color: $text-rev;
				border: 1px solid $primary-color;
				font-weight: 900;
				&:hover {
					background: $secondary-color;
					color: $white;
					border: 1px solid $white;
				}
			}
			.button-second {
				background: $white;
				// box-shadow: 3px 0px 4px 0px $shad;
				border: 1px solid $primary-color;
				color: $primary-color;

				&:hover {
					background: $primary-color;
					color: $white;
					border: 1px solid $white;
				}
			}
		}
		// .content {
		// 	h3 {
		// 		font-weight: 600;
		// 		color: $text-rev;
		// 	}
		// 	p {
		// 		font-size: 1.4rem;
		// 		font-weight: 500;
		// 		text-transform: capitalize;
		// 		color: $text-rev;
		// 	}
		// }
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		border-bottom: 100px solid $secondary-color;
		clip-path: polygon(12% 95%, 0% 100%, 100% 100%);
		// clip-path: polygon(50% 100%, 0 94%, 100% 94%);
		// clip-path: polygon(0% 100%, 0% 93%, 50% 100%, 100% 93%, 100% 100%);
		// clip-path: polygon(
		// 	0% 100%,
		// 	7% 95%,
		// 	15% 95%,
		// 	28% 94%,
		// 	33% 100%,
		// 	35% 100%,
		// 	49% 93%,
		// 	61% 81%,
		// 	73% 79%,
		// 	83% 81%,
		// 	94% 84%,
		// 	99% 87%,
		// 	100% 100%
		// );
		// clip-path: circle(7.2% at 98% 100%);
	}
}
.hero-shapes {
	position: relative;
	margin: 2rem 0;

	.hs-content {
		background: rgba($primary-color, 0.7);
		padding: 5% 10% 5% 5%;
		// clip-path: polygon(0 0, 100% 0, 100% 81%, 50% 100%, 0 81%);
		clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
		p {
			margin-bottom: 0;
		}
		.hs-content-text {
			font-size: 1.1rem;
			color: $text-rev;
			text-transform: capitalize;
			font-weight: 700;
			margin-left: 0.5rem;
		}
	}
}
.hero-button {
	margin-top: 10px;
}
.thank-content {
	padding-top: 5vh;
	h1,
	h3 {
		color: $text-rev;
	}
	h1 {
		font-weight: 900;
	}
	h3 {
		font-weight: 500;
	}
}
