.navbar {
	color: $text-rev;
	text-transform: uppercase;
	position: fixed;
	// top: 0;
	// left: 0;
	height: 85px;
	width: 100vw;
	padding: 0 10vw;
	z-index: 99;
	transition: 0.4s ease-out;
	// clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 50% 30%, 0% 20%);
	.navbar-brand {
		color: $white;
	}
	.navbar-nav {
		.nav-item {
			padding: 0rem 0.2rem;
			.nav-link {
				color: $text-rev;
				padding: 0.5rem 1rem;
				font-weight: 500;
				letter-spacing: 1px;
				border-radius: 0;
				// font-family: "Josefin Sans", sans-serif;
				// font-family: "Raleway", sans-serif;
				// font-family: "Montserrat", sans-serif;
				font-family: "Roboto", sans-serif;
				font-size: 0.95rem;

				&:hover {
					// background: rgba($primary-color, 0.5);
					background: lighten($text-color, 5);
				}
			}
			.button {
				padding: 0.5rem 1rem;
				background: $white;
				color: $primary-color;
				border-color: $white;
				border-radius: 0;

				&:hover {
					background: $text-color;
					color: $white;
					border-color: $text-color;
				}
			}
		}
	}

	&.scrolled {
		height: 65px;
		background: rgba($text-rev, 0.9);
		.navbar-nav {
			.nav-item {
				.nav-link {
					color: $primary-color;
					// font-weight: 600;

					&:hover {
						// background: rgba($primary-color, 0.5);
						background: lighten($text-rev, 5);
					}
				}
				.button {
					// color: $text-rev;
					background: $primary-color;
					color: $white;
					border-color: $primary-color;
					&:hover {
						color: $text-rev;
						background: $text-color;
						border-color: $text-color;
					}
				}
			}
		}
		// #button {
		// 	background: $text-rev;
		// 	border: 1px solid $text-rev;
		// 	color: $primary-color;
		// 	&:hover {
		// 		background: $secondary-color;
		// 		border: 1px solid $secondary-color;
		// 		transition: 0.6s ease-in;
		// 		z-index: 3;
		// 		color: $text-rev;
		// 	}
		// }
	}
}
