// $primary-color: #3c40c6;
$primary-color: #e30a17;
// $primary: $primary-color !default;
// $secondary-color: #ffa801;
// $secondary-color: #586261;
// $secondary-color: #379683;
$secondary-color: #40e0d0;
$warning: #ff2400;
$overlay: #5cdb95;
$text-color: #1e272e;
$text-rev: #f2f2f2;
$white: #fff;
$card-back: #bbcedf;
$shad: #808e9b;
$background: #d2dae2;
